# Virtual environments
tfenv/
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# ML artifacts (optional)
*.h5
*.pt
*.pth
*.tar.gz
data/
ASSIGNMENT_03/data/
ASSIGNMENT_03/data